/*
 * SPDX-License-Identifier: Apache-2.0
 * Licensed to the Ed-Fi Alliance under one or more agreements.
 * The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
 * See the LICENSE and NOTICES files in the project root for more information.
 */
location="westus"
prefix = "jar"
label = "ods-perf-test"
base_subnet="default"

#base_vnet="tools-di-perf-test"

# Updated Nov 2024
web_vm_size="Standard_B4ms"
runner_vm_size="Standard_B4ms"

# Updated Nov 2024
web_vm_image_publisher="microsoftwindowsserver"
web_vm_image_offer="windowsserver"
web_vm_image_sku="2022-datacenter-azure-edition"

# Updated Nov 2024
sql_vm_size="Standard_E4ds_v4"
sql_vm_image_publisher="microsoftsqlserver"
sql_vm_image_offer="sql2022-ws2022"
sql_vm_image_sku="sqldev-gen2"

web_admin_username="exampleadmin"
web_admin_password="Password1234!"

runner_admin_username="exampleadmin"
runner_admin_password="Password1234!"

sql_admin_username="exampleadmin"
sql_admin_password="Password1234!"
